name: Build

on:
  push:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-go@v2
        with:
          go-version: "^1.25"
      - name: "Checkup"
        run: go env GOPATH
      - name: "Build"
        run: go build
